<?xml version="1.0" encoding="UTF-8" ?>
<Humor_Annotation_COSI140_v0.2>
<TEXT><![CDATA[710865618652626944 No more herpes, please #SpringBreakIn4Words @midnight 0
710861952629624832 Look! It's a HOLE!!!! #SpringBreakIn4Words @midnight 0
710862133286797312 Lets do it again #SpringBreakIn4Words @midnight 0
710857842400612356 @midnight drunk and half-naked #springbreakin4words 0
710867818137292800 @EncoreBeachClub @SurrenderVegas  #SpringBreakIn4Words @midnight https://t.co/53ZJsaMnyw 0
710864819432218625 Date Rape is Fun! #SpringBreakIn4Words @midnight 0
710851794537029632 Oops the Condom Broke! #springbreakin4words @midnight 0
710844191358775296 @midnight whole lot of experimentation #SpringBreakIn4Words 0
710849517399252997 Guess I'm on pornhub... #SpringBreakIn4Words @midnight 0
710844431319080960 @midnight Thongs, Schlongs and Bongs #SpringBreakIn4Words 0
710864822947221504 Drink, drank, drunk, drop. #SpringBreakIn4Words @midnight 0
710862687656226818 "Rather Be Watching 'Hamilton'." #SpringBreakIn4Words @midnight 0
710848888245194752 High is 39 degrees #springbreakin4words @midnight 0
710850120783269888 Carson Daly Creepin About @midnight #SpringBreakIn4Words 0
710865716161937409 "Do you mean Easter?" Said by some pompous religious a-hole. @midnight  #SpringBreakIn4Words 0
710852759571009536 Sparkly beads, never worn.  @midnight #SpringBreakIn4Words 0
710868663096639489 .@JennaElfman on @midnight #NoEsBueno #SpringBreakIn4Words 0
710861357084774401 @midnight #springbreakin4words Trucks on the beach 0
710862837510352896 Wasted the whole time. @midnight #SpringBreakIn4Words 0
710857581179346944 @midnight #springbreakin4words   IT BURNS SO MUCH 0
710852941008211973 Somehow makes Florida worse @midnight #SpringBreakIn4Words 0
710851638462980098 Can I nail you? #SpringBreakIn4Words @midnight 0
710852427012923393 Bill Cosby is here?  #springbreakin4words @midnight 0
710843320810008576 Litter on every beach #SpringBreakIn4Words @midnight 0
710848970151620608 #SpringBreakin4words @midnight worse on way out 0
710860784482406400 The Locals all vacate   #SpringBreakIn4Words @midnight 0
710847924272410624 Someday you'll have kids. @midnight #SpringBreakIn4Words 0
710862060519686147 Unconscious wearing dick pics #springbreakin4words @midnight 0
710849564471906304 This bar is busy #springbreakin4words @midnight 0
710860314288328704 Who's in my mouth? #SpringBreakIn4words @midnight 0
710866647544958977 Brought my ps4 home #SpringBreakin4Words @midnight 0
710849230622105601 @midnight #SpringBreakin4words don't remember eating that 0
710857446227628036 @midnight #springbreakin4words   DONKEYS CAN'T SAY NO 0
710868336364658689 Catching up on homework #SpringBreakin4Words @midnight 0
710868400717824000 #SpringBreakIn4Words @midnight don't wanna puke anymore 0
710856075994652672 Isn't that your Mom? #SpringBreakIn4Words @midnight 0
710860721211310081 Your Louse or Mine? #SpringBreakIn4Words @midnight 0
710854972720566276 Avoding anyplace relativly warm @midnight #SpringBreakIn4Words 0
710863682301865984 Depraved, shaved, blazed, glazed. #SpringBreakIn4Words @midnight 0
710845323090857986 @midnight @hardwick Drunk chicks rule dude! #SpringBreakIn4Words 0
710846922215436288 Queasy Like Sunday Morning #SpringBreakIn4Words @midnight 0
710867574809092096 @midnight #springbreakin4words    AAAANNNND, YOU HAVE AIDS 0
710865537400606720 Follow me on @Snapchat #SpringBreakIn4Words @midnight 0
710850005184040960 Vomit Trail College Tail @midnight #SpringBreakIn4Words 0
710857649563242496 #SpringBreakIn4Words 8 shots of ragret @midnight https://t.co/1pPgyJCeDG 0
710850255613353984 Pale Skin Initiation Week #SpringBreakIn4Words @midnight 0
710861150435594241 What was I thinking? #SpringBreakIn4Words @midnight 0
710859916571881473 Two new tramp stamps @midnight #SpringBreakIn4Words 0
710865077709082624 We're getting f**ked up! #SpringBreakIn4Words @midnight 0
710867971774803968 @midnight #springbreakin4words      GET VALTREX WITH CALTECHS 0
710846520556277761 #SpringBreakIn4Words @midnight Kids home all week https://t.co/9axNbzHFFf 0
710867119617880064 It's all in Brutally #SpringBreakIn4Words @midnight 0
710858603725328384 @ComedyCentral @midnight #SpringBreakIn4Words #SpringBreak  0
710860096280997889 Scratch and sniff undies #SpringBreakIn4Words @midnight 0
710856855589814272 #springbreakin4words @midnight You let me what? 0
710845887896031232 Florida's IQ Doubles Briefly   #SpringBreakIn4Words  @midnight 0
710853228099997696 Dead neurons. Living clap. @midnight #SpringBreakIn4Words 0
710852273673342978 Loss of common sense @midnight #SpringBreakIn4Words https://t.co/F4Dlimr5Ns 0
710854682068066304 @midnight dead hooker drop off #SpringBreakIn4Words 0
710849248535908352 168 hour Netflix binge #springbreakin4words @midnight 0
710849317062316032 Drunk sex, yum. NOT! @midnight #SpringBreakIn4Words 0
710856277522448385 @midnight two words Tijuana jail #SpringBreakIn4Words 0
710861511749554176 Gonoherpacyphilaids is my JAM! #springbreakin4words @midnight 0
710851337504706560 You're not infectious ANYMORE????? #SpringBreakIn4Words @midnight 0
710852996754591745 The reason I exist!  #SpringBreakIn4Words @midnight 0
710853204112576512 Fuck it, why not? #SpringBreakIn4Words @midnight 0
710702011541422080 Rock Bottom Reference Point  #SpringBreakIn4Words @midnight 2
710947023101435904 Kids home parents drinking. #springbreakin4words @midnight 1
710670020737703936 No pants, no shame  #SpringBreakIn4Words @midnight 1
710671466086273024 No math! #SpringBreakIn4Words @midnight 1
710671356023537664 Crotch Sand Initiation Rites #SpringBreakIn4Words @midnight 1
710671091161649152 Mom? Need bail money... #SpringBreakIn4Words @midnight 1
710697659640782848 @midnight How's vomit on ceiling? #SpringBreakIn4Words 1
710682250032054272 White Girls in Cornrows #SpringBreakIn4Words @midnight 1
710677426691395585 Never drinking agai-----SHOTS!!!!!!!!!! #SpringBreakIn4Words @midnight 1
710825536386367488 @midnight #springbreakin4words THAT POOR DONKEY TRAINER 1
]]></TEXT>
<TAGS>
<tweet id="tweet0" tweet_uid="710865618652626944" spans="0~74" content="No more herpes, please #SpringBreakIn4Words" score="0" hashtag="#springbreakin4words" />
<tweet id="tweet1" tweet_uid="710861952629624832" spans="75~148" content="Look! It's a HOLE!!!! #SpringBreakIn4Words" score="0" hashtag="#springbreakin4words" />
<tweet id="tweet2" tweet_uid="710862133286797312" spans="149~217" content="Lets do it again #SpringBreakIn4Words" score="0" hashtag="#springbreakin4words" />
<tweet id="tweet3" tweet_uid="710857842400612356" spans="218~290" content="drunk and half-naked #springbreakin4words" score="0" hashtag="#springbreakin4words" />
<tweet id="tweet4" tweet_uid="710867818137292800" spans="291~400" content="@EncoreBeachClub @SurrenderVegas #SpringBreakIn4Words https://t.co/53ZJsaMnyw" score="0" hashtag="#springbreakin4words" />
<tweet id="tweet5" tweet_uid="710864819432218625" spans="401~470" content="Date Rape is Fun! #SpringBreakIn4Words" score="0" hashtag="#springbreakin4words" />
<tweet id="tweet6" tweet_uid="710851794537029632" spans="471~545" content="Oops the Condom Broke! #springbreakin4words" score="0" hashtag="#springbreakin4words" />
<tweet id="tweet7" tweet_uid="710844191358775296" spans="546~626" content="whole lot of experimentation #SpringBreakIn4Words" score="0" hashtag="#springbreakin4words" />
<tweet id="tweet8" tweet_uid="710849517399252997" spans="627~702" content="Guess I'm on pornhub... #SpringBreakIn4Words" score="0" hashtag="#springbreakin4words" />
<tweet id="tweet9" tweet_uid="710844431319080960" spans="703~781" content="Thongs, Schlongs and Bongs #SpringBreakIn4Words" score="0" hashtag="#springbreakin4words" />
<tweet id="tweet10" tweet_uid="710864822947221504" spans="782~860" content="Drink, drank, drunk, drop. #SpringBreakIn4Words" score="0" hashtag="#springbreakin4words" />
<tweet id="tweet11" tweet_uid="710862687656226818" spans="861~945" content="&quot;Rather Be Watching 'Hamilton'.&quot; #SpringBreakIn4Words" score="0" hashtag="#springbreakin4words" />
<tweet id="tweet12" tweet_uid="710848888245194752" spans="946~1016" content="High is 39 degrees #springbreakin4words" score="0" hashtag="#springbreakin4words" />
<tweet id="tweet13" tweet_uid="710850120783269888" spans="1017~1094" content="Carson Daly Creepin About #SpringBreakIn4Words" score="0" hashtag="#springbreakin4words" />
<tweet id="tweet14" tweet_uid="710865716161937409" spans="1095~1208" content='"Do you mean Easter?" Said by some pompous religious a-hole. #SpringBreakIn4Words' score="0" hashtag="#springbreakin4words" />
<tweet id="tweet15" tweet_uid="710852759571009536" spans="1209~1288" content="Sparkly beads, never worn. #SpringBreakIn4Words" score="0" hashtag="#springbreakin4words" />
<tweet id="tweet16" tweet_uid="710868663096639489" spans="1289~1368" content=".@JennaElfman on #NoEsBueno #SpringBreakIn4Words" score="0" hashtag="#springbreakin4words" />
<tweet id="tweet17" tweet_uid="710861357084774401" spans="1369~1440" content="#springbreakin4words Trucks on the beach" score="0" hashtag="#springbreakin4words" />
<tweet id="tweet18" tweet_uid="710862837510352896" spans="1441~1515" content="Wasted the whole time. #SpringBreakIn4Words" score="0" hashtag="#springbreakin4words" />
<tweet id="tweet19" tweet_uid="710857581179346944" spans="1516~1586" content="#springbreakin4words IT BURNS SO MUCH" score="0" hashtag="#springbreakin4words" />
<tweet id="tweet20" tweet_uid="710852941008211973" spans="1587~1666" content="Somehow makes Florida worse #SpringBreakIn4Words" score="0" hashtag="#springbreakin4words" />
<tweet id="tweet21" tweet_uid="710851638462980098" spans="1667~1734" content="Can I nail you? #SpringBreakIn4Words" score="0" hashtag="#springbreakin4words" />
<tweet id="tweet22" tweet_uid="710852427012923393" spans="1735~1807" content="Bill Cosby is here? #springbreakin4words" score="0" hashtag="#springbreakin4words" />
<tweet id="tweet23" tweet_uid="710843320810008576" spans="1808~1881" content="Litter on every beach #SpringBreakIn4Words" score="0" hashtag="#springbreakin4words" />
<tweet id="tweet24" tweet_uid="710848970151620608" spans="1882~1950" content="#SpringBreakin4words worse on way out" score="0" hashtag="#springbreakin4words" />
<tweet id="tweet25" tweet_uid="710860784482406400" spans="1951~2026" content="The Locals all vacate #SpringBreakIn4Words" score="0" hashtag="#springbreakin4words" />
<tweet id="tweet26" tweet_uid="710847924272410624" spans="2027~2104" content="Someday you'll have kids. #SpringBreakIn4Words" score="0" hashtag="#springbreakin4words" />
<tweet id="tweet27" tweet_uid="710862060519686147" spans="2105~2186" content="Unconscious wearing dick pics #springbreakin4words" score="0" hashtag="#springbreakin4words" />
<tweet id="tweet28" tweet_uid="710849564471906304" spans="2187~2255" content="This bar is busy #springbreakin4words" score="0" hashtag="#springbreakin4words" />
<tweet id="tweet29" tweet_uid="710860314288328704" spans="2256~2326" content="Who's in my mouth? #SpringBreakIn4words" score="0" hashtag="#springbreakin4words" />
<tweet id="tweet30" tweet_uid="710866647544958977" spans="2327~2398" content="Brought my ps4 home #SpringBreakin4Words" score="0" hashtag="#springbreakin4words" />
<tweet id="tweet31" tweet_uid="710849230622105601" spans="2399~2477" content="#SpringBreakin4words don't remember eating that" score="0" hashtag="#springbreakin4words" />
<tweet id="tweet32" tweet_uid="710857446227628036" spans="2478~2552" content="#springbreakin4words DONKEYS CAN'T SAY NO" score="0" hashtag="#springbreakin4words" />
<tweet id="tweet33" tweet_uid="710868336364658689" spans="2553~2628" content="Catching up on homework #SpringBreakin4Words" score="0" hashtag="#springbreakin4words" />
<tweet id="tweet34" tweet_uid="710868400717824000" spans="2629~2705" content="#SpringBreakIn4Words don't wanna puke anymore" score="0" hashtag="#springbreakin4words" />
<tweet id="tweet35" tweet_uid="710856075994652672" spans="2706~2778" content="Isn't that your Mom? #SpringBreakIn4Words" score="0" hashtag="#springbreakin4words" />
<tweet id="tweet36" tweet_uid="710860721211310081" spans="2779~2850" content="Your Louse or Mine? #SpringBreakIn4Words" score="0" hashtag="#springbreakin4words" />
<tweet id="tweet37" tweet_uid="710854972720566276" spans="2851~2934" content="Avoding anyplace relativly warm #SpringBreakIn4Words" score="0" hashtag="#springbreakin4words" />
<tweet id="tweet38" tweet_uid="710863682301865984" spans="2935~3020" content="Depraved, shaved, blazed, glazed. #SpringBreakIn4Words" score="0" hashtag="#springbreakin4words" />
<tweet id="tweet39" tweet_uid="710845323090857986" spans="3021~3106" content="@hardwick Drunk chicks rule dude! #SpringBreakIn4Words" score="0" hashtag="#springbreakin4words" />
<tweet id="tweet40" tweet_uid="710846922215436288" spans="3107~3185" content="Queasy Like Sunday Morning #SpringBreakIn4Words" score="0" hashtag="#springbreakin4words" />
<tweet id="tweet41" tweet_uid="710867574809092096" spans="3186~3265" content="#springbreakin4words AAAANNNND, YOU HAVE AIDS" score="0" hashtag="#springbreakin4words" />
<tweet id="tweet42" tweet_uid="710865537400606720" spans="3266~3340" content="Follow me on @Snapchat #SpringBreakIn4Words" score="0" hashtag="#springbreakin4words" />
<tweet id="tweet43" tweet_uid="710850005184040960" spans="3341~3417" content="Vomit Trail College Tail #SpringBreakIn4Words" score="0" hashtag="#springbreakin4words" />
<tweet id="tweet44" tweet_uid="710857649563242496" spans="3418~3511" content="#SpringBreakIn4Words 8 shots of ragret https://t.co/1pPgyJCeDG" score="0" hashtag="#springbreakin4words" />
<tweet id="tweet45" tweet_uid="710850255613353984" spans="3512~3589" content="Pale Skin Initiation Week #SpringBreakIn4Words" score="0" hashtag="#springbreakin4words" />
<tweet id="tweet46" tweet_uid="710861150435594241" spans="3590~3662" content="What was I thinking? #SpringBreakIn4Words" score="0" hashtag="#springbreakin4words" />
<tweet id="tweet47" tweet_uid="710859916571881473" spans="3663~3735" content="Two new tramp stamps #SpringBreakIn4Words" score="0" hashtag="#springbreakin4words" />
<tweet id="tweet48" tweet_uid="710865077709082624" spans="3736~3812" content="We're getting f**ked up! #SpringBreakIn4Words" score="0" hashtag="#springbreakin4words" />
<tweet id="tweet49" tweet_uid="710867971774803968" spans="3813~3895" content="#springbreakin4words GET VALTREX WITH CALTECHS" score="0" hashtag="#springbreakin4words" />
<tweet id="tweet50" tweet_uid="710846520556277761" spans="3896~3990" content="#SpringBreakIn4Words Kids home all week https://t.co/9axNbzHFFf" score="0" hashtag="#springbreakin4words" />
<tweet id="tweet51" tweet_uid="710867119617880064" spans="3991~4063" content="It's all in Brutally #SpringBreakIn4Words" score="0" hashtag="#springbreakin4words" />
<tweet id="tweet52" tweet_uid="710858603725328384" spans="4064~4144" content="@ComedyCentral #SpringBreakIn4Words #SpringBreak" score="0" hashtag="#springbreakin4words" />
<tweet id="tweet53" tweet_uid="710860096280997889" spans="4145~4221" content="Scratch and sniff undies #SpringBreakIn4Words" score="0" hashtag="#springbreakin4words" />
<tweet id="tweet54" tweet_uid="710856855589814272" spans="4222~4290" content="#springbreakin4words You let me what?" score="0" hashtag="#springbreakin4words" />
<tweet id="tweet55" tweet_uid="710845887896031232" spans="4291~4374" content="Florida's IQ Doubles Briefly #SpringBreakIn4Words" score="0" hashtag="#springbreakin4words" />
<tweet id="tweet56" tweet_uid="710853228099997696" spans="4375~4453" content="Dead neurons. Living clap. #SpringBreakIn4Words" score="0" hashtag="#springbreakin4words" />
<tweet id="tweet57" tweet_uid="710852273673342978" spans="4454~4550" content="Loss of common sense #SpringBreakIn4Words https://t.co/F4Dlimr5Ns" score="0" hashtag="#springbreakin4words" />
<tweet id="tweet58" tweet_uid="710854682068066304" spans="4551~4623" content="dead hooker drop off #SpringBreakIn4Words" score="0" hashtag="#springbreakin4words" />
<tweet id="tweet59" tweet_uid="710849248535908352" spans="4624~4698" content="168 hour Netflix binge #springbreakin4words" score="0" hashtag="#springbreakin4words" />
<tweet id="tweet60" tweet_uid="710849317062316032" spans="4699~4771" content="Drunk sex, yum. NOT! #SpringBreakIn4Words" score="0" hashtag="#springbreakin4words" />
<tweet id="tweet61" tweet_uid="710856277522448385" spans="4772~4846" content="two words Tijuana jail #SpringBreakIn4Words" score="0" hashtag="#springbreakin4words" />
<tweet id="tweet62" tweet_uid="710861511749554176" spans="4847~4929" content="Gonoherpacyphilaids is my JAM! #springbreakin4words" score="0" hashtag="#springbreakin4words" />
<tweet id="tweet63" tweet_uid="710851337504706560" spans="4930~5016" content="You're not infectious ANYMORE????? #SpringBreakIn4Words" score="0" hashtag="#springbreakin4words" />
<tweet id="tweet64" tweet_uid="710852996754591745" spans="5017~5089" content="The reason I exist! #SpringBreakIn4Words" score="0" hashtag="#springbreakin4words" />
<tweet id="tweet65" tweet_uid="710853204112576512" spans="5090~5159" content="Fuck it, why not? #SpringBreakIn4Words" score="0" hashtag="#springbreakin4words" />
<tweet id="tweet66" tweet_uid="710702011541422080" spans="5160~5240" content="Rock Bottom Reference Point #SpringBreakIn4Words" score="2" hashtag="#springbreakin4words" />
<tweet id="tweet67" tweet_uid="710947023101435904" spans="5241~5320" content="Kids home parents drinking. #springbreakin4words" score="1" hashtag="#springbreakin4words" />
<tweet id="tweet68" tweet_uid="710670020737703936" spans="5321~5392" content="No pants, no shame #SpringBreakIn4Words" score="1" hashtag="#springbreakin4words" />
<tweet id="tweet69" tweet_uid="710671466086273024" spans="5393~5453" content="No math! #SpringBreakIn4Words" score="1" hashtag="#springbreakin4words" />
<tweet id="tweet70" tweet_uid="710671356023537664" spans="5454~5534" content="Crotch Sand Initiation Rites #SpringBreakIn4Words" score="1" hashtag="#springbreakin4words" />
<tweet id="tweet71" tweet_uid="710671091161649152" spans="5535~5610" content="Mom? Need bail money... #SpringBreakIn4Words" score="1" hashtag="#springbreakin4words" />
<tweet id="tweet72" tweet_uid="710697659640782848" spans="5611~5686" content="How's vomit on ceiling? #SpringBreakIn4Words" score="1" hashtag="#springbreakin4words" />
<tweet id="tweet73" tweet_uid="710682250032054272" spans="5687~5762" content="White Girls in Cornrows #SpringBreakIn4Words" score="1" hashtag="#springbreakin4words" />
<tweet id="tweet74" tweet_uid="710677426691395585" spans="5763~5854" content="Never drinking agai-----SHOTS!!!!!!!!!! #SpringBreakIn4Words" score="1" hashtag="#springbreakin4words" />
<tweet id="tweet75" tweet_uid="710825536386367488" spans="5855~5931" content="#springbreakin4words THAT POOR DONKEY TRAINER" score="1" hashtag="#springbreakin4words" />
</TAGS>
</Humor_Annotation_COSI140_v0.2>